body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  background-color: #B2BDFF;
  width: 100%;
  min-height: 102px;
  height: 100%;
}

.melonSeed {
  margin: 1rem;
}

.sideBar {
  background-color: #F5B2FF;
  position: absolute;
  width: 8rem;
  min-height: 100%;
  height: auto;
  padding-bottom: 500px;
}


.containerBox{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: .5rem;
  margin-top: 3rem;
}

.boxPink {
  width: 70rem;
  height: 8rem;
  margin: .5rem;
  margin-right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
  color: #FFFFFF;
}

.boxPink:nth-of-type(odd) {
  background-color:  #FFB2B2;
}

.boxPink:nth-of-type(even) {
  background-color:  #b2fff1;
  color: #c9c2c2;
}

div::first-line {
  text-transform: lowercase;
}

@media screen and (max-width: 1310px) {

  .boxPink {
    width: 60rem;
  }

}

@media screen and (max-width: 1180px) {
  
  .sideBar {
    display: none;
  }


  .containerBox {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

}

@media screen and (max-width: 1000px) {

  .boxPink {
    width: 50rem;
    margin-right: 0;
    font-size: 27px;
  }
  
}

@media screen and (max-width: 870px) {

  .boxPink {
    width: 40rem;
    font-size: 22px;
  }
  
}

@media screen and (max-width: 680px) {

  .boxPink {
    width: 30rem;
    height: 6rem;
    font-size: 18px;
  }
  
}

@media screen and (max-width: 500px) {

  .boxPink {
    width: 25rem;
    height: 5rem;
    font-size: 15px;
  }
  
}

@media screen and (max-width: 420px) {

  .head {
    min-height: 50px;
    height: 100%;
  }

  .melonSeed {
    width: 50px;
    height: 50px;
  }

  .boxPink {
    width: 20rem;
    height: 5rem;
    font-size: 12px;
  }
  
}

